body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 350px;
  height: 350px;
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.one {
  width: 24px;
  height: 100px;
  background-color: white;
  border-radius: 4px;
  transform: translateX(15px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 6;
}

.one-stroke {
  width: 24px;
  height: 45px;
  background-color: white;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 4px;
}

.zero {
  width: 100px;
  height: 100px;
  border: 24px solid white;
  border-radius: 50%;
}

.zero1 {
  transform: translateX(6px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.zero2 {
  transform: translateX(-12px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.number {
  display: flex;
}

.text-big {
  color: black;
  font-size: 5.3rem;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  margin-top: -10px;
}

.text-small {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-top: -20px;
}
